Licence CC BY-NC-ND, Valérie Roy & Thierry Parmentelat

In [ ]:
from IPython.display import HTML
HTML(url="https://raw.githubusercontent.com/ue12-p22/python-numerique/main/notebooks/_static/style.html")

# TP sur le tri d'une dataframe

**Notions intervenant dans ce TP**

* tri de `pandas.DataFrame` par ligne, par colonne et par index

**N'oubliez pas d'utiliser le help en cas de problème.**

## import des librairies et des données

1. importez les librairies `pandas`et `numpy`
<br>

1. importez la librairie `matplotlib.pyplot`  
<br>

1. lors de la lecture du fichier de données `titanic.csv`  
   1. gardez uniquement les colonnes `cols` suivantes `'PassengerId'`, `'Survived'`, `'Pclass'`, `'Name'`, `'Sex'`, `'Age'` et `'Fare'`

   1. mettez la colonne `PassengerId` comme index des lignes
   1. besoin d'aide ? faites `pd.read_csv?`
<br>

1. affichez le type des colonnes de la dataframe  
en utilisant l'attribut `dtypes` des objets `pandas.DataFrame`
<br>

1. sur le même graphique, et en utilisant `matplotlib.pyplot.plot`
   1. plotez avec le paramètre `'rs'` la colonne des ages en fonctions des index  
   (`r` pour rouge et `s` pour le style de point ici square)  
   1. plotez avec paramètre `'b.'` et sans indiquer les abscisses, la colonne des ages
   1. que constatez-vous ?
   <br>
   1. si vous n'indiquez pas l'axe des abscisses de votre dessin que choisit `plt` ? 

<br>

In [ ]:
#pd.read_csv?
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('titanic.csv', index_col="PassengerId")

In [ ]:
df = df.loc[:, [ 'Survived', 'Pclass', 'Name', 'Sex', 'Age' ,'Fare']]
df.head(2)

In [ ]:
df.dtypes

In [ ]:
plt.plot(df.loc[:, 'Age'], 'b.')

## tri des lignes d'une dataframe

le but de cet exercice est d'organiser les lignes d'une dataframe suivant l'ordre d'une ou de plusieurs colonnes.

utilisez la méthode `df.sort_values()`

1. pour créer une **nouvelle** dataframe  
dont les lignes sont triées dans l'ordre croissant des classes des passagers  
on veut être sûr d'avoir une nouvelle dataframe sans considération de ce que retourne la fonction `sort_values`
<br>

1. pour constater qu'elles sont triées, affichez les 3 premières lignes de la dataframe  
vous devez voir que la colonne des `Pclass` est triée  
que les lignes ont changé de place dans la table  
et que leur indexation a été conservée
<br>

1. triez la dataframe précédente dans l'ordre des ages des passagers  
elle doit être modifiée sans utiliser d'affectation Python  
(on veut faire ce qu'on appelle en informatique un *tri en place*)
<br>

1. constater que les lignes de la dataframe sont triées  
en affichant les 3 premières lignes de la dataframe
<br>

1. plotez la colonne des ages de la  dataframe  
Que constatez-vous ?
<br>

1. plotez la colonne dans l'ordre des ages croissants
<br>

In [ ]:
df = pd.read_csv('titanic.csv', index_col="PassengerId")
df = df.loc[:, [ 'Survived', 'Pclass', 'Name', 'Sex', 'Age' ,'Fare']]
df2 = df.copy().sort_values(by='Age')

In [ ]:
df2[df2.Age.notna()].tail(3)
plt.plot(df2.Age)

In [ ]:
x = range(len(df))
plt.plot(x, df2.Age)

## tri des lignes *égales* au sens d'un premier critère d'une dataframe

on reprend la dataframe d'origine

1. affichez les ages des passagers d'index `673` et `746`  
que constatez-vous ?
<br>

1. utilisez le paramètre `by` de `df.sort_values()`  
afin d'indiquer aussi une seconde colonne - par exemple `Fare`  
pour trier les lignes identiques au sens de la première colonne  
rangez dans une nouvelle dataframe
<br>

1. sélectionnez, dans la nouvelle dataframe, la sous-dataframe dont les ages ne sont pas définis  
<br>

1. combien manque-il d'ages ?
<br>

1. où sont placés ces passagers dans la data-frame triée ?  
en début (voir avec `head`) ou en fin (voir avec `tail`) de dataframe ?
<br>

1. trouvez le paramètre de `sort_values()`  
qui permet de mettre ces lignes en début de dataframe lors du tri
<br>

1. produire une nouvelle dataframe en ne gardant que les ages connus,
   et triée selon les ages, puis les prix de billet

In [ ]:
df = pd.read_csv('titanic.csv', index_col="PassengerId")

In [ ]:
df.loc[[673, 746], 'Age']

In [ ]:
 #ils ont le meme age
df.sort_values?

In [ ]:
df1= df.copy().sort_values( by= 'Age', ascending=True)

In [ ]:
selection = df1['Age'].isna().sum()
selection
#il y a 177 ages manquants

In [ ]:
df1.head()

In [ ]:
df1.tail()
#les ages manquants sont en fin de liste

In [ ]:
df1= df.copy().sort_values( by= 'Age', ascending=True, na_position = 'first' )
df1.head()

In [ ]:
df2= df1.tail(891-177).sort_values(by = 'Age')

## tri d'une dataframe selon une colonne

En utilisant `pandas.DataFrame.sort_values` il est possible de trier une dataframe  
dans l'axe de ses colonnes

1. Créez une dataframe de 4 lignes et 5 colonnes de valeurs entières aléatoires entre 0 et 100  
   mettez comme index (par exemple):  
   aux lignes  `'un'`, `'deux'`, `'trois'` et `'quatre'`  
   aux colonnes `'a'`, `'b'`, `'c'`, `'d'` et `'e'`  
   **indice**: voyez la documentation de `pd.DataFrame` 
   pour construire une dataframe  
   par programme
   <br>

1. affichez la dataframe
<br>

1. Triez la dataframe en place dans l'ordre de la ligne d'index `trois`
<br>

1. Affichez la dataframe
<br>

In [ ]:
mat= np.random.randint(0,100, size=(4,5))

In [ ]:
mat

In [ ]:
DF= pd.DataFrame(data = mat, index = ['un', 'deux', 'trois', 'quatre'], columns = ['a', 'b', 'c', 'd', 'e'])

df

In [ ]:
DF

In [ ]:
DF2 = DF.copy()
DF2 = DF2.sort_values(by =['trois'], axis=1)

In [ ]:
DF2

## tri d'une dataframe selon l'index

En utilisant `pandas.DataFrame.sort_index` il est possible de trier une dataframe  
dans l'axe de ses index de ligne ou de colonnes  
Utilisez le même genre de dataframe qu'à l'exercice précédent
<br>

1. affichez la dataframe
<br>

1. Trier la dataframe par index de ligne croissant  
et affichez la dataframe
<br>

1. Triez la dataframe par index de colonne croissant
et affichez la dataframe
<br>

Cela peut, par exemple, servir à réordonner la dataframe du Titanic  
qui a été triée en place dans l'ordre des `Age`, `Fare` croissants  
par ordre d'index de ligne croissants

In [ ]:
mat= np.random.randint(0,100, size=(4,5))

In [ ]:
DF= pd.DataFrame(data = mat, index = ['un', 'deux', 'trois', 'quatre'], columns = ['a', 'b', 'c', 'd', 'e'])

In [ ]:
DF

In [ ]:
pd.DataFrame.sort_index?

In [ ]:
DF2, DF3 =DF.copy(), DF.copy()
DF2 = DF2.sort_index()
DF3 = DF3.sort_index(axis=1)

In [ ]:
DF2

In [ ]:
DF3

In [ ]:
 #on remarque bien que la derniere etait deja triee selon les colonnes on peut donc verifier que le sens inverse aurait marché

In [ ]:
DF3 = DF3.sort_index(axis=1, ascending=False)
DF3

In [ ]:
 #ca marche bien